[loggers]
keys=root,master_module

[handlers]
keys=consoleHandler

[formatters]
keys=colorFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_master_module]
level=DEBUG
handlers=consoleHandler
qualname=sampleLogger

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=colorFormatter
args=(sys.stdout,)

[formatter_colorFormatter]
format=[%(asctime)s][%(name)s]: %(message)s
datefmt=%H:%M:%S
