[loggers]
keys=root,default

[handlers]
keys=consoleHandler

[formatters]
keys=colorFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_default]
level=DEBUG
handlers=consoleHandler
qualname=sampleLogger

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=colorFormatter
args=(sys.stdout,)

[formatter_colorFormatter]
% format=[%(asctime)s][%(module_name)s]: %(message)s ???
% datefmt=%H:%M:%S ???
